
# # But not .cpp
# !*.cpp
# # Or directories
# !*/

Cars_Collision/car
Cars_Collision/cars




# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

















































#if we push a code to repo first time then we only write a path of removing files in .gitignore file
#like this   Cars_Collision/car             Cars_Collision/cars 

#But if you push a code without writing that command then we have to write this command in git repo folder           git rm -r --cached Cars_Collision/cars 




